:root {
    --primary-background-color: #343330;
    --secondary-background-color: white;

    --primary-color: #343330;
    --secondary-color: white; 

    --sizing-x-small: 0.5rem;
    --sizing-small: 1rem;
    --sizing-medium: 2rem;
    --sizing-large: 3rem;
    --sizing-x-large: 4rem;

    --font-size-x-small: 0.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-x-large: 2.5rem;
}